@model BulletinBoardSampleFrame.ViewModel.Post.PostViewModel
@{
    ViewBag.Title = "ConfirmPost";
}

<h2>Create Post Confirmation</h2><br />
@using (Html.BeginForm("Save","Post"))
{
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3">
                @Html.LabelFor(model => model.title)
            </div>
                @Html.DisplayFor(model => model.title)
                @Html.HiddenFor(model => model.title)
        </div><br /><br />
        <div class="form-group">
            <div class="col-sm-3">
                @Html.LabelFor(model => model.description)
            </div>
                @Html.HiddenFor(model => model.description)
                @Html.DisplayFor(model => model.description)
        </div><br /><br />
        <div class="form-group">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <button onClick="clear()">Clear</button>
            </div>
        </div>
    </form>
}



