@model BulletinBoardSampleFrame.ViewModel.Post.PostViewModel
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script
{
    <script src="~/Resource/script/jquery.clearbutton.js"></script>
}
<h2>Create Post</h2>
<br />
@using (Html.BeginForm("ConfirmPost", "Post"))
{
    @Html.AntiForgeryToken()
    if (ViewData["Message"] != null)
    {
        <p style="color:red" id="popupdiv">@ViewData["Message"]</p>
        <hr />
    }
    @Html.ValidationSummary(true)
    <form class="form-horizontal" id="form1">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <label style="color: red">*</label>
        <br /><br />
        <div class="form-group">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <label style="color: red">*</label>
        </div><br /><br />
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Confirm</button>
                <input type="button" class="btn btn-default" value="Clear" onclick="location.href='@Url.Action("ClearInput", "Post")'" />
            </div>
        </div>
    </form>
}
@section scripts
{
    <script src="~/Resources/lib/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#popupdiv').html() != '') {
                $("#popupdiv").show();
            }
        });
    </script>
}


