<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCM Bulletin Board</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("usage", required: false)
    @RenderSection("script", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SCM BulletinBoard</a>
            </div>
            <ul class="nav navbar-nav">
                @if (@Session["Type"].ToString() == "Admin")
                {
            <li>@Html.ActionLink("Users", "UserList", "User")</li>}
                <li>@Html.ActionLink("User", "UserProfile", "User")</li>
                @if (@Session["Type"].ToString() == "Admin" || @Session["Type"].ToString() == "Visitor")
                {
            <li>@Html.ActionLink("Posts", "PostView", "Post")</li>}
                else
                {
            <li>@Html.ActionLink("Posts", "PostList", "Post")</li>}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Session["Name"]</a></li>
                <li>@Html.ActionLink("LogOut", "LogOut", "Login")</li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SCM Bulletin Board</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
