@model BulletinBoardSampleFrame.ViewModel.User.UserViewModel
@{
    ViewBag.Title = "ConfirmUser";
}
<div>
    <h2>Creat User Confirmation</h2>
    <br />
</div>
<br />
@using (Html.BeginForm("Save", "User"))
{
<form class="form-horizontal" id="form1">
    <div class="form-group row">
        <div class="col-lg-offset-3">
            <img src="~/Resources/lib/images/@Model.Profile" width="100" height="100" />
            @Html.HiddenFor(m=>m.Profile)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-sm-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", value = Model.Password})
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Type)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m=>m.Type, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Phone)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Dob)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.Dob, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Address)
        </div>
        <div class="col-sm-3">
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Create</button>
            @Html.ActionLink("Cancel", "User",new { @class = "btn btn-danger" })
        </div>
    </div>
</form>
}

