@model BulletinBoardSampleFrame.ViewModel.User.UserViewModel
@{
    ViewBag.Title = "UserProfile";
}
@if (Session["Name"] != null)
{
    <p style="color:darkred">Welcome @Session["Name"].ToString()!</p>
}
<br />
<p style="text-align:center">
    <input type="button" class="btn btn-success" value="Edit" onclick="location.href='@Url.Action("Edit", "User", new { Model.id } )'" />
</p>
@using (Html.BeginForm())
{
    <h2>User Profile</h2>
    <br />
    <br />

    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.name)
        </div>
        @Session["Name"].ToString()
        @Html.HiddenFor(m => m.name)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        @Session["Profile"].ToString()
        @Html.HiddenFor(m => m.profile)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.email)
        </div>
        @Session["Email"].ToString()
        @Html.HiddenFor(m => m.email)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.type)
        </div>
        @Session["Type"].ToString()
        @Html.HiddenFor(m => m.type)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.phone)
        </div>
        @Session["Phone"].ToString()
        @Html.HiddenFor(m => m.phone)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.dob)
        </div>
        @Session["DOB"].ToString()
        @Html.HiddenFor(m => m.dob)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.address)
        </div>
        @Session["Address"].ToString()
        @Html.HiddenFor(m => m.address)
    </div>
    <br />
}

