@model IEnumerable<BulletinBoardSampleFrame.ViewModel.User.UserViewModel>
@{
    ViewBag.Title = "UserList";
}
@if (Session["Name"] != null)
{
    <p style="color:darkred">Welcome @Session["Name"].ToString()!</p>
}
<br />
<h2>User List</h2>
@using (Html.BeginForm("Search", "User", FormMethod.Post))
{
    <div>
        <input type="text" value="Name" />
        <input type="text" value="Email" />
        <input type="text" value="Created From" />
        <input type="text" value="Created To" />
        <input type="submit" class="btn btn-info" value="Search" />
        <input type="button" class="btn btn-danger" value="Add" onclick="location.href='@Url.Action("User", "User")'" />
    </div>
    <br />
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created User</th>
            <th>Phone</th>
            <th>Bithdate</th>
            <th>Address</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.name)</td>
                <td>@Html.DisplayFor(m => item.email) </td>
                <td>@Session["Name"] </td>
                <td>@Html.DisplayFor(m => item.phone) </td>
                <td>@Html.DisplayFor(m => item.dob) </td>
                <td>@Html.DisplayFor(m => item.address) </td>
                <td>@Html.DisplayFor(m => item.created_at) </td>
                <td>@Html.DisplayFor(m => item.updated_at) </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.id }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
            </tr>
        }
    </table>
    <div class="container" style="text-align:left">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
}

