@model PagedList.IPagedList<BulletinBoardSampleFrame.ViewModel.User.UserViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "UserList";
}
@if (Session["Name"] != null)
{
    <p style="color:darkred">Welcome @Session["Name"].ToString()!</p>
}
<br />
<h2>User List</h2>
<br />
@using (Html.BeginForm("Search", "User", FormMethod.Post))
{
    <div>
        <input type="text" value="Name" name="name" />
        <input type="text" value="Email" name="email" />
        <input type="text" value="Created From" name="createdFrom" />
        <input type="text" value="Created To" name="createdTo" />
        <input type="submit" class="btn btn-info" value="Search" />
        <input type="button" class="btn btn-danger" value="Add" onclick="location.href='@Url.Action("User", "User")'" />
    </div>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Created User</th>
            <th>Phone</th>
            <th>Bithdate</th>
            <th>Address</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Email) </td>
                <td>@Html.DisplayFor(m => item.CreatedUser)</td>
                <td>@Html.DisplayFor(m => item.Phone) </td>
                <td>@Html.DisplayFor(m => item.Dob) </td>
                <td>@Html.DisplayFor(m => item.Address) </td>
                <td>@Html.DisplayFor(m => item.Created_at) </td>
                <td>@Html.DisplayFor(m => item.Updated_at) </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })</td>
            </tr>
        }
    </table>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("UserList", new { page }))
        </div>
    </div>
}

