@model BulletinBoardSampleFrame.ViewModel.User.UserViewModel
@{
    ViewBag.Title = "UserProfile";
}
@if (Session["Name"] != null)
{
    <p style="color:darkred">Welcome @Session["Name"].ToString()!</p>
}
<br />

@using (Html.BeginForm())
{
    <p style="text-align:center">
        <input type="button" class="btn btn-success" value="Edit" onclick="location.href='@Url.Action("Edit", "User", new { id = @Session["Id"] } )'" />
    </p>
    <h2>User Profile</h2>
    <br />
    <br />

    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Name)
        </div>
        @Session["Name"].ToString()
        @Html.HiddenFor(m => m.Name)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
        </div>
        <img src="~/Resources/lib/images/@Session["Profile"]" width="100" height="100" />
        @Html.HiddenFor(m => m.Profile)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Email)
        </div>
        @Session["Email"].ToString()
        @Html.HiddenFor(m => m.Email)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Type)
        </div>
        @Session["Type"].ToString()
        @Html.HiddenFor(m => m.Type)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Phone)
        </div>
        @Session["Phone"].ToString()
        @Html.HiddenFor(m => m.Phone)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Dob)
        </div>
        @Session["DOB"].ToString()
        @Html.HiddenFor(m => m.Dob)
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(m => m.Address)
        </div>
        @Session["Address"].ToString()
        @Html.HiddenFor(m => m.Address)
    </div>
    <br />
}

